.Container_child{
    height : 200px;
    text-align: right;
    font-size: 40px;
    background-color:black;
    color:white;
    padding-right: 20px;
}

.content{
    padding-top:140px;
}

.Container_Child_two{
    height: 400px;
}

.row{
    display: flex;
    height: 20%;
}

.row_element{
    flex: 1;
    background-color:gray;
    border : 1px solid white;
    text-align: center;
    padding-top: 30px;
    font-weight: bold;
}

.row_element_op{
    background-color:orange;
}